<section class="post-comments">
    <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">
  <script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
        owner: 'unfrequentedfire',
        repo: 'unfrequentedfire.github.io',
        oauth: {
            client_id: '3898f0c7cc93bb697acf',
            client_secret: '6bba6fcef9d24127725d654a9a125963ed12ac2c',
        },
    });
    gitment.render('gitmentContainer');
    </script>

</section>
